<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>School email:</strong>
    <%= student.school_email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

  # <% if @student.profile_picture.attached? %>
  #   <%= image_tag student.profile_picture, size: "500x500" %>
  # <% else %>
  #   <p>No profile picture uploaded.</p>
  # <% end %>

  <% @students.each do |student| %>
    <p>
      <%= student.graduation_date %>
    </p>
  
    <% if student.profile_picture.attached? %> <!-- Use 'student' here instead of '@student' -->
      <%= image_tag student.profile_picture, size: "500x500" %>
    <% else %>
      <p>No profile picture uploaded.</p>
    <% end %>
  <% end %>
  

</div>
