<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>School email:</strong>
    <%= student.school_email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

  <% if student.image.attached? %>
    <%= image_tag(student.image, width: "100", height: "100") %>
  <% else %>
    <%= image_tag("default.png", width: "100", height: "100") %>
  <% end %>
  
</div>
